.btn-green {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-green-gnome-card {
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-green-gnome-card:hover {
  color: black;
}

.btn-red-gnome-card:hover {
  color: black;
}

.btn-navbar {
  margin-right: 25px;
}

.btn-red-gnome-card {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: red;
}
