.show_container {
  padding-top: 50px;
}

#card_show {
  height: 650px;
  display: flex;
  vertical-align: middle;
  padding: 20px;

}

.gnomes_image {
  width: 100%
}

.inline-form {
  display: flex;
  align-items: center;
}

.inline-input {
  margin-right: 10px;
}

.inline-submit {
   margin-left: 10px;
}
