.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.card-body {
  padding: 18px;
}

.card {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card img {
  border-radius: 20px;
}
