.navbar-lewagon {
  margin-top: 0;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

.btn-green {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  border-radius: 10px;
  margin-right: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
