
.navbar-lewagon {
  margin-top: 0;
  justify-content: space-between;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  border-radius: 50%;
}

.logo-text {
  font-size: 25px;
}
